

<div style="width:70%">
<%= form_with(model: transaction, local: true, class: 'form-horizontal') do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this reader from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if from_edit %>
    <div class="form-group">
        <%= form.label :Transaction_Identifier , class:"col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= form.text_field :transaction_id, id: :transaction_transaction_id , class: "form-control"%>
        </div>
    </div>
  <% end %>
   <div class="form-group">
      <%= form.label :book_id , class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <% @books = Book.where('book_avail_in_lib = ? AND  book_damaged = ? ',true,false) %>
        <%= form.collection_select :book_id, @books, :book_id, :book_name, include_blank: :true %>
      </div>
  </div>
   <div class="form-group">
      <%= form.label :reader_id , class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
         <%= form.collection_select :reader_id, Reader.all, :reader_id, :reader_name, include_blank: :true %>
      </div>
  </div>
   <div class="form-group">
      <%= form.label :issue_date_time , class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
         <%= form.date_field :issue_date_time, id: :transaction_issue_date_time, class: "form-control", readonly: from_edit %>
      </div>
  </div>
  <% if from_edit %>
    <div class="form-group">
        <%= form.label :due_date_time , class:"col-sm-2 control-label" %>
        <div class="col-sm-10">
           <%= form.date_field :due_date_time, id: :transaction_due_date_time, class: "form-control" %>
        </div>
    </div>
  <div class="form-group">
      <%= form.label :late_fee , class:"col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= form.text_field :late_fee, id: :transaction_late_fee , class: "form-control"%>
      </div>
  </div>
  <% end %>
  <BR>
  
  <div  style="margin-left: 145px">
    <input class="btn btn-success" type="submit" value="Update Transaction" />
  </div>
  
<% end %>
</div>


